@import '~antd/dist/antd.css';

body {
  background: #f3f6f8;
  font-family: 'Barlow', sans-serif;
}

.app-content {
  max-width: 900px;
  margin: 0 auto;
}


@media all and (max-width: 500px) {
  .app-content {
    margin-left: 0;
  }
}
